In [2]:
import sqlite3

# 1. Bağlantı oluştur
conn = sqlite3.connect("students.db")
c = conn.cursor()

# 2. Yeni tablo oluştur
c.execute('''
CREATE TABLE IF NOT EXISTS students_v2 (
    id INTEGER PRIMARY KEY,
    name TEXT,
    grade INTEGER
)
''')
conn.commit()

# 3. Veri ekle
c.execute('INSERT INTO students_v2 (name, grade) VALUES (?, ?)', ("Alice", 90))
c.execute('INSERT INTO students_v2 (name, grade) VALUES (?, ?)', ("Bob", 85))
conn.commit()

# 4. Veri oku
c.execute('SELECT * FROM students_v2')
rows = c.fetchall()
for row in rows:
    print(row)

# 5. Güncelleme
c.execute('UPDATE students_v2 SET grade = 95 WHERE name = "Bob"')
conn.commit()

# 6. Silme
c.execute('DELETE FROM students_v2 WHERE name = "Alice"')
conn.commit()

# 7. Bağlantıyı kapat
conn.close()

(1, 'Alice', 90)
(2, 'Bob', 85)